In [1]:
conda activate tf-gpu

Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [4]:
data = pd.read_csv('data.csv')
data.head()

,age,trtbps,thalachh,oldpeak,output,sex_0,cp_0,cp_1,cp_2,restecg_0,...,exng_0,slp_0,slp_1,caa_0,caa_1,caa_2,caa_3,thall_0,thall_1,thall_2
0,63,145,150,2.3,1,0,0,0,0,1,...,1,1,0,1,0,0,0,0,1,0
1,37,130,187,3.5,1,0,0,0,1,0,...,1,1,0,1,0,0,0,0,0,1
2,41,130,172,1.4,1,1,0,1,0,1,...,1,0,0,1,0,0,0,0,0,1
3,56,120,178,0.8,1,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
4,57,120,163,0.6,1,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

### Train test cv split

In [5]:
x = data.drop('output', axis = 1)
y = data.output

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 10)

In [7]:
len(x_train)

272

In [8]:
len(x_test)

31

In [9]:
x_train, x_cv, y_train, y_cv = train_test_split(x_train, y_train, test_size = 0.112, random_state = 10)

In [10]:
len(x_train)

241

In [11]:
len(x_cv)

31

### Model